html, body{
    margin: 0; padding: 0;
    font-family: 'Tw Cen MT';

}
body{   

    width: 100%;
    height: 100%;
    background: #EBEBEB

}


.cadrejaunerech
{
    
margin: 10% 10%;
height: 100%;
background: #FBE216;
border-radius: 50px;
}

.cadrejaunerech p.trouveoffre
{

margin: 1% 0 0 4%;
font-family: 'Tw Cen MT';
font-style: normal;
font-weight: 300;
font-size: 150%;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #000000;
}



.search input
{
    
    font-size: 130%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Tw Cen MT';
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 20%;
    border: 0px;
    border-radius: 30px;
    padding: 1%;
    margin: 1% 0% 2% 3%;
}


select {
    width: 100%;
    font-size: 130%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Tw Cen MT';
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    height: 20%;
    border: 0px;
    border-radius: 30px;
    padding: 1%;
    margin: 1% 1% 1% 1%;
}



.search
{
    width: 100%;
    font-size: 130%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Tw Cen MT';
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    height: 20%;
    border: 0px;
    border-radius: 30px;
    padding: 1%;
    margin: 1% 1% 1% 1%;
}


.Type
{
    margin: 1% 1% 1% 2%;
    display: inline-block;
    width: 15%;
}


.flex{
    display:flex;
}

.bienv{
    position: flex;
    margin-left: 8%;
    margin-top: 7%;
    font-size: 240%;
    display: inline-block;
    background:#FBE216;
    padding: 1px 10px;

}

.buttonsub
{
    border-radius: 30px;
    width: 10%;
    position:relative;
    height: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:none;
    margin-left:5%;
    margin-right:5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 7px 0;
    background: #FBE216;
    align-items: center;
    text-align: center;
}

.input{
    border-radius: 30px;
    border: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 150%;
    width: 85%;
}


@media(max-width: 900px){
    .cadrejaunerech p.trouveoffre{
        font-size: 85%;
    }


}

@media(max-width: 870px){
    .bienv{
        font-size: 180%;
    
    }
}

@media(max-width: 500px){
    .bienv{
        font-size: 120%;
    
    }
}

@media(max-width: 780px){
    .buttonsub
{
font-size: 60%;
}
}

@media(max-width: 800px){
    .Type
{
    margin: 1% 1% 1% 2%;
    width: 15%;
}
}


@media(max-width: 570px){
    .cadrejaunerech p.trouveoffre{
        font-size: 60%;
    }


}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
