.footer{
    top: 100%   ;
    width: 100%;
    background-color: #000000;
}

.footer p.pfooter{
    color:rgb(255, 255, 255);

}

.footer p.titre{
    font-size: 150%;
    color:rgb(255, 255, 255);
}
