.footer{
    top: 100%   ;
    width: 100%;
    background-color: #000000;
    bottom: 0;
}

.footer p.pfooter{
    color:rgb(255, 255, 255);
    text-align: center;

}

.footer p.titre{
    font-size: 180%;
    color:rgb(255, 255, 255);
    text-align: center;
}



.margin{
    margin: 0 11%;
}
