html, body{
    margin: 0; padding: 0;
    font-family: 'Tw Cen MT';

}
body{
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background: #EBEBEB

}


h1 
{
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

h2
{
    margin: 0 0 0 20%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

h3
{
    margin: 0 0 0 8%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.cadrejaunerech
{
margin: 2% 20%;
background: #FBE216;
border-radius: 50px;
}

.cadregris
{
margin: 2% 20%;
background: #d6d6d6;
border-radius: 50px;
}

.cadretext
{
    width: 60%;
    height: 50vh;
    margin: 2% 20%;
    background: #d6d6d6;
    border-radius: 50px;
    padding: 1%;
}

.nomprenom
{
    display: inline-block;
    width: 20%;
}

.profil
{
    display: inline-block;
    width: 20%;
    margin: 2%;
}

.png
{
    width: 50%;
}

.text
{
    display: inline-block;
    width: 30%;
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: 300;
    font-size: 150%;
    line-height: 35px;
    letter-spacing: 0.05em;
}

.buttonsub
{
    border-radius: 30px;
    width: 10%;
    position:relative;
    height: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:none;
    margin-left:5%;
    margin-right:5%;
    font:bold;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 7px 0;
    background: #FBE216;
    align-items: center;
    text-align: center;
}

.buttonenvoyer
{
    border-radius: 30px;
    position:relative;
    height: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:none;
    font:bold;
    padding: 7px 0;
    background: #FBE216;
    display: inline-block;
    width: 9%;
    margin: 2% 0 2% 2%;
}

.image
{
    display: inline-block;
    width: 9%;
    margin: 2% 0 2% 5%;
}

.nombre
{
    display: inline-block;
    width: 9%;
    margin: 2% 0 2% 0%;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.p
{

    display: inline-block;
    width: 9%;
    margin: 2% 0 2% 2%;
}



.cadrejaunerech p.trouveoffre
{

margin: 0 0 0 4%;

font-family: 'Tw Cen MT';
font-style: normal;
font-weight: 300;
font-size: 150%;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #000000;
}


.cadrejaunerech p.Quietes
{
    
padding: 0 0 0 16%;
margin: 0% 0 0;


font-family: 'Tw Cen MT';
font-style: normal;
font-weight: 400;
font-size: 150%;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #000000;
}

.text input
{
    
    font-size: 130%;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Tw Cen MT';
    background: #f0f0f0;
    border-radius: 50px;    

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    height: 100%;
    width: 100%;
    border: 0px;
    border-radius: 30px;
    margin: 1% 0 0 67%;

}

select{
    font-size: 130%;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Tw Cen MT';

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    height: 20%;
    width: 42%;
    border: 0px;
    border-radius: 30px;
    padding: 1%;
    margin: 0 0 0 4%;
}

.text i
{
    left:  44%;
    top: 57%;
}


.flex{
    display:flex;
}

.submit input
{
    font-size: 130%;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Tw Cen MT';

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    height: 20%;
    width: 42%;
    border: 0px;
    border-radius: 30px;
    padding: 1%;
    margin: 5% 0 5% 4%;
}