html, body{
    margin: 0; padding: 0;
    font-family: 'Tw Cen MT';

}

body{
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background: #EBEBEB

}

h3
{
    margin: 0 0 0 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.cadregris
{
margin: 2% 20%;
background: #d6d6d6;
border-radius: 50px;
}

.cadrejaunepage
{
    border-radius: 30px;
    width: 2%;
    height: 2%;
    position:relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:none;
    margin-left:5%;
    margin-right:5%;
    font:bold;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 7px 0;
    background: #FBE216;
    align-items: center;
    text-align: center;
}

.image{
    display: inline-block;
    width: 9%;
    margin: 2% 0 2% 5%;
}

.text
{
    display: inline-block;
    width: 30%;
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: 300;
    font-size: 150%;
    line-height: 35px;
    letter-spacing: 0.05em;
}

.png
{
    width: 50%;
}

.txtresultat{
    font-size: 200%;
    margin: 1% 21%;
}

.button{
    border-radius: 30px;
    background: #FBE216;
    width: 7%;
    font-size: 150%;
    border: none;
    margin: 1% 21%;
}

.entreprise{
    margin-right: 20%;
}

.buttonsub
{
    border-radius: 30px;
    width: 10%;
    position:relative;
    height: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:none;
    margin-left:5%;
    margin-right:5%;
    font:bold;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 7px 0;
    background: #FBE216;
    align-items: center;
    text-align: center;
}

.buttonsub2
{
    margin-right: 5%;
    margin-top: 5%;
    display: inline-block;
    border-radius: 30px;
    width: 5%;
    position:relative;
    height: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:none;
    font:bold;
    padding: 7px 0;
    background: #FBE216;
    align-items: center;
    text-align: center;
    margin-left: 1%;
}

.buttonsub3
{
    display: inline-block;
    border-radius: 30px;
    width: 3%;
    position:relative;
    height: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:none;
    font:bold;
    padding: 7px 0;
    background: #FBE216;
    align-items: center;
    text-align: center;
    margin-left: 1%;
    margin-bottom: 2%;
}

.skill
{
    margin : 2% 2% 3% 0%;
    display: inline-block;
    border-radius: 30px;
    width: 10%;
    position:relative;
    height: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:none;
    font:bold;
    padding: 7px 0;
    background: #FBE216;
    align-items: center;
    text-align: center;
}

.skills
{
    margin-left:5%;
    margin-right:5%;
}


.pages
{
    text-align: center;
}