

/*NAVBAR*/
.navbar 
{
    position: absolute;
width: 100%;
height: 10%;
left: 0%;
top: 0%;


background: #FFFFFF;
}


.navbar img.logo 
{
    position: absolute;
width: 128px;
height: 126px;
left: 0%;
top: 0%;
padding: 10px 10px 0px;
}


.BTP 
{
    position: absolute;
left: 12.4%;
top: 45%;


font-family: 'Tw Cen MT';
font-style: normal;

font-size: 200%;
line-height: 100%;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #000000;
}


.Industrie
{
    position: absolute;
left: 23.8%;
right: 69.17%;
top: 45%;

font-family: 'Tw Cen MT';
font-style: normal;
font-weight: 400;
font-size: 200%;
line-height: 100%;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #000000;
}


.RH
{
    position: absolute;
    left: 39.32%;
    right: 45.05%;
    top: 45%;
    
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    
    color: #000000;  
}


.Informatique
{
    position: absolute;
    left: 60.36%;
    right: 17.24%;
    top: 45%;
    
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: 400px;
    font-size: 200%;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    
    color: #000000;
}


.navbar img.profil 
{
    position: absolute;
    width: 46px;
    height: 46px;
    right: 0%;
    top: 0%;
    padding: 40px 40px 0px;
}

.navbar img.bell
{
    position: absolute;
width: 51px;
height: 44.36px;
right: 0%;
top: 0%;
padding: 43px 150px 0px;
}

/*NAVBAR*/

/* Barre Jaune*/

.yellowbar
{
    position: absolute;
width: 100%;
height: 50px;
left: 0%;
top: 134px;

background: #FBE216;
}

/* Barre Jaune*/


.fondphoto img.photoaccueil
{
    position: absolute;
width: 1920px;
height: 576px;
left: 0px;
top: 184px;
}

/*Cadre jaune avec barre recherche tout ca*/

.cadrejaunerech
{
position: absolute;
width: 1260px;
height: 141px;
left: 330px;
top: 619px;

background: #FBE216;
}

.cadrejaunerech p.trouveoffre
{


width: 615px;
height: 0px;
left: 354px;
top: 625px;
padding: 0px 60px 0px;

font-family: 'Tw Cen MT';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #000000;
}


.cadrejaunerech p.Quietes
{
    position: absolute;
width: 258px;
height: 0px;
left: 820px;
top: 0px;

font-family: 'Tw Cen MT';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #000000;
}

.search input
{
    position: absolute;
    font-size: 130%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Tw Cen MT';
    position: absolute;
    left: 5%;
    top: 44%;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.search input
{
    position: absolute;
    width: 42%;
    border: 0px;
    border-radius: 30px;
    padding: 1%;
}



.search i
{
    position: absolute;
    left:  44%;
    top: 57%;
}

select {
    position: absolute;
    width: 369px;
    height: 45px;
    left: 65%;
    top: 44%;
    
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*Cadre jaune avec barre recherche tout ca*/

/*Cadre avec raccourcis*/

.cadreraccourcis
{
    position: absolute;
width: 1260px;
height: 389px;
left: 330px;
top: 759px;

background: #ffffff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.decouvre
{
position: absolute;
left: 60px;
top: -10px;

font-family: 'Tw Cen MT';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 35px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #000000;
}


.button1 b
{
    position: absolute;
    left: 4%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    padding: 0px 10px 0px;
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    align-items: center;

    letter-spacing: 0.05em;
    
    color: #000000;
    
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.button1
{
    position: absolute;
    width: 354px;
    height: 73px;
    left: 50px;
    top: 80px;
    background:#FBE216;
    border-radius: 30px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button2 b
{
    position: absolute;
    left: 7%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    padding: 0px 10px 0px;
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    align-items: center;

    letter-spacing: 0.05em;
    
    color: #000000;
    
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.button2
{
    position: absolute;
    width: 379px;
    height: 73px;
    left: 428px;
    top: 80px;
    background:#FBE216;
    border-radius: 30px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button3 b
{
    position: relative;
    left: 7%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    padding: 0px 10px 0px;
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    align-items: center;

    letter-spacing: 0.05em;
    
    color: #000000;
    
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.button3
{
    position: relative;
    width: 379px;
    height: 73px;
    left: 831px;
    top: 80px;
    background:#FBE216;
    border-radius: 30px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button4 b
{
    position: absolute;
    left: 7%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    padding: 0px 10px 0px;
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    align-items: center;

    letter-spacing: 0.05em;
    
    color: #000000;
    
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.button4
{
    position: absolute;
    width: 314px;
    height: 73px;
    left: 50px;
    top: 183px;
    background:#FBE216;
    border-radius: 30px;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button5 b
{
    position: absolute;
    left: 5%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    padding: 0px 10px 0px;
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    align-items: center;

    letter-spacing: 0.05em;
    
    color: #000000;
    
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.button5
{
    position: absolute;
width: 490px;
height: 73px;
left: 388px;
top: 183px;
border-radius: 30px;
background:#FBE216;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button6 b
{
    position: absolute;
    left: 5%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    padding: 0px 10px 0px;
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    align-items: center;

    letter-spacing: 0.05em;
    
    color: #000000;
    
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.button6
{
    position: absolute;
width: 309px;
height: 73px;
left: 902px;
top: 183px;
border-radius: 30px;
background:#FBE216;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button7 b
{
    position: absolute;
    left: 9%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    padding: 0px 10px 0px;
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    align-items: center;

    letter-spacing: 0.05em;
    
    color: #000000;
    
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}
.button7
{
    position: absolute;
    width: 245px;
    height: 73px;
left: 50px;
top: 286px;
border-radius: 30px;
background:#FBE216;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button8 b
{
    position: absolute;
    left: 5%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    padding: 0px 10px 0px;
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    align-items: center;

    letter-spacing: 0.05em;
    
    color: #000000;
    
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}
.button8
{
    position: absolute;
width: 290px;
height: 73px;
left: 327px;
top: 286px;
border-radius: 30px;
background:#FBE216;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button9 b
{
    position: absolute;
    left: 8%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    padding: 0px 10px 0px;
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    align-items: center;

    letter-spacing: 0.05em;
    
    color: #000000;
    
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}
.button9
{
    position: absolute;
width: 258px;
height: 73px;
left: 649px;
top: 286px;
border-radius: 30px;
background:#FBE216;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button10 b
{
    position: absolute;
    left: 13%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    padding: 0px 10px 0px;
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    align-items: center;

    letter-spacing: 0.05em;
    
    color: #000000;
    
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35); 
}
.button10
{
    position: absolute;
width: 271px;
height: 73px;
left: 939px;
top: 286px;
border-radius: 30px;
background:#FBE216;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/*Cadre avec raccourcis*/


